<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-6 ml-auto mr-auto">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Create New CW Request</h5>
        </div>
        <div class="card-body">
          <form>

            <div class="row">

              <div class="col-md-4 ml-auto mr-auto">
                <div class="form-group">
                  <label>Account Name</label>
                  <input type="text" class="form-control" placeholder="MD Shah Alom" value="">
                </div>
              </div>
              

              <div class="col-md-4 ml-auto mr-auto" >
                <div class="form-group">
                  <label>Account Number</label>
                  <input type="number" class="form-control" placeholder="Enter Account Number" value="">
                </div>
              </div>
                            
     
              
        
            </div>

            <div class="row">

              <div class="col-md-4 ml-auto mr-auto">
                <div class="form-group">
                  <label>Bank Name</label>
                  <input type="text" class="form-control" placeholder="Bank Name" value="">
                </div>
              </div>
              

              <div class="col-md-4 ml-auto mr-auto">
                <div class="form-group">
                  <label>Branch Name</label>
                  <input type="text" class="form-control" placeholder="Branch Name" value="">
                </div>
              </div>

        
            </div>

            <div class="row">

              <div class="col-md-4 ml-auto mr-auto">
                <div class="form-group">
                  <label>SWIFT Code</label>
                  <input type="text" class="form-control" placeholder=" Enter SWIFT Code" value="">
                </div>
              </div>
              

              <div class="col-md-4 ml-auto mr-auto">
                <div class="form-group">
                  <label>Branch Address</label>
                  <input type="text" class="form-control" placeholder="Branch Address" value="">
                </div>
              </div>

        
            </div>


            <div class="row">

              <div class="col-md-4 ml-auto mr-auto">
                <div class="form-group">
                  <label>Withdrawal Amount</label>
                  <input type="number" class="form-control" placeholder="Amount" value="">
                </div>
              </div>
              

              <div class="col-md-4 ml-auto mr-auto">
                <div class="form-group">
                  <label>Currency</label>
                  <angular2-multiselect
                      [data]="dropdownList3"
                      [(ngModel)]="selectedItems3"
                      [settings]="dropdownSettings3"
                      (onSelect)="onItemSelect($event)"
                      (onDeSelect)="OnItemDeSelect($event)"
                      (onSelectAll)="onSelectAll($event)"
                      (onDeSelectAll)="onDeSelectAll($event)"
                    >
                    </angular2-multiselect>
                </div>
              </div>

        
            </div>

            <div class="row">

              <div class="col-md-4 ml-auto mr-auto">
                <div class="form-group">
                  <label>Country</label>
                  <angular2-multiselect
                  [data]="dropdownList"
                  [(ngModel)]="selectedItems"
                  [settings]="dropdownSettings1"
                  (onSelect)="onItemSelect($event)"
                  (onDeSelect)="OnItemDeSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                  (onDeSelectAll)="onDeSelectAll($event)"
                >
                </angular2-multiselect>
                </div>
              </div>
              

              <div class="col-md-4 ml-auto mr-auto">
                <div class="form-group">
                  <label>State</label>
                  <angular2-multiselect
                  [data]="dropdownList"
                  [(ngModel)]="selectedItems2"
                  [settings]="dropdownSettings2"
                  (onSelect)="onItemSelect($event)"
                  (onDeSelect)="OnItemDeSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                  (onDeSelectAll)="onDeSelectAll($event)"
                >
                </angular2-multiselect>
                </div>
              </div>

        
            </div>


            <div class="row">

              <div class="col-md-4 ml-auto mr-auto">
                <div class="form-group">
                  <label>City</label>
                  <angular2-multiselect
                  [data]="dropdownList1"
                  [(ngModel)]="selectedItems1"
                  [settings]="dropdownSettings1"
                  (onSelect)="onItemSelect($event)"
                  (onDeSelect)="OnItemDeSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                  (onDeSelectAll)="onDeSelectAll($event)"
                >
                </angular2-multiselect>
                </div>
              </div>
             

              

              <div class="col-md-4 ml-auto mr-auto">
                <div class="form-group">
                  <label>Zip Code</label>
                  <input type="text" class="form-control" placeholder="10000" value="">
                </div>
              </div>

        
            </div>


            <div class="row">
              <div class="col-md-6 ml-auto mr-auto ">


                  <h4 class="card-title">Attach Bank Statement</h4>
                  <app-file-input></app-file-input>
              

              </div>
            </div>
          </form>
        </div>
        <div  class="col-md-9 text-right"  style="float: right;"><button  class=" btn btn-danger" type="submit"> Submit </button></div>
      </div>
    </div>
   
  </div>
</div>
