<div class="panel-header panel-header-sm">

</div>
<div class="main-content">
  <div class="row">
    <div class="col-lg-3 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="statistics statistics-horizontal">
            <div class="info info-horizontal">
              <div class="row">
             
                <div class="col-7 text-right">
                  <h3 class="info-title">All</h3>
                  <h5 class="stats-title">1058</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card-footer ">
          
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="statistics statistics-horizontal">
            <div class="info info-horizontal">
              <div class="row">
           
                <div class="col-7 text-right">
                  <h3 class="info-title">Pending</h3>
                  <h5 class="stats-title">1000</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <div class="card-footer ">
        
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="statistics statistics-horizontal">
            <div class="info info-horizontal">
              <div class="row">
              
                <div class="col-7 text-right">
                  <h3 class="info-title text-right">Completed</h3>
                  <h5 class="stats-title">200</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
       
        <div class="card-footer ">
          
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="statistics statistics-horizontal">
            <div class="info info-horizontal">
              <div class="row">
              
                <div class="col-7 text-right">
                  <h3 class="info-title">Rejected</h3>
                  <h5 class="stats-title">10</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
       
        <div class="card-footer ">
          
        </div>
      </div>
    </div>



   <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
         
          <h6 class="card-title"> CW Table</h6>
        </div>
        <div class="card-body">
          <div class="table">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  ID
                </th>
                <th>
                  Account ID
                </th>
                <th>
                  Amount
                </th>
                <th >
                  SDC Status
                </th>
                <th >
                  OPD Status
                </th>
                <th >
                  Credit Status
                </th>

                <th >
                  Overall Status
                </th>
         
                
               
              </thead>
              <tbody>
                <tr>
                  <td>
                    <a href='#/tables/ngx-datatable' >111000</a>
                  </td>
                  <td>
                    112-123-100251
                  </td>
                  <td>
                   1000$
                  </td>
                  <td >
                   Regular
                   </td>
                   <td >
                    Success
                   </td>
                   <td >
                    Verified
                   </td>

                  <td >
                    Success
                  </td>

                </tr>

                <tr>
                  <td>
                    <a href='#/tables/ngx-datatable' >111000</a>
                  </td>
                  <td>
                    112-123-100251
                  </td>
                  <td>
                   1000$
                  </td>
                  <td >
                   Regular
                   </td>
                   <td>
                    Success
                   </td>
                   <td >
                    Verified
                   </td>

                  <td >
                    Success
                  </td>
                 </tr>


                <tr>
                  <td>
                    <a href='#/tables/ngx-datatable' >111000</a>
                  </td>
                  <td>
                    112-123-100251
                  </td>
                  <td>
                   1000$
                  </td>
                  <td>
                   Regular
                   </td>
                   <td>
                    Success
                   </td>
                   <td>
                    Verified
                   </td>

                  <td >
                    Success
                  </td>
                   </tr>

                <tr>
                  <td>
                    <a href='#/tables/ngx-datatable' >111000</a>
                  </td>
                  <td>
                    112-123-100251
                  </td>
                  <td>
                   1000$
                  </td>
                  <td>
                   Regular
                   </td>
                   <td>
                    Success
                   </td>
                   <td>
                    Verified
                   </td>

                  <td >
                    Success
                  </td>
                 </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
